.center-text {
  text-align: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.vertical-spacing-sm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.medium-font-weight {
  font-weight: 500;
}

.bold-font-weight {
  font-weight: bold;
}

.align-bottom {
  flex: 1;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end;
}
