.product-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
}

.category-pagination {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: fit-content;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 20px solid black;
    background: transparent;
}

.arrow-left.disabled {
    border-right: 20px solid grey !important;
}

.arrow-right {
    width: 0;
    height: 0;
    flex: 1;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid black;
    background: transparent;
}

.arrow-right.disabled {
    border-left: 20px solid grey !important;
}

.category-label {
    border-radius: 5px;
    border: 1.5px solid #8acc6e;
    background-color: #d9e8d3;
    width: 120px;
    padding: 5px;
    font-size: 12px; /* add as global font */
    text-align: center;
}